body {
  font-family: "Josefin Sans", sans-serif;
}
.top-bg-img {
  width: 100%;
  opacity: 0.9;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.top-h1-p {
  position: absolute;
  top: 290px;
  left: 230px;
}
.first-h1 {
  font-size: 60px;
}

.btn {
  background-color: rgb(248, 68, 68);
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  margin: 10px;
  border-radius: 10px;
  font-weight: 700;
}
.second-top-text {
  text-align: center;
  margin-top: 30px;
}
.second-h1 {
  font-size: 40px;
}
h3 {
  line-height: 25px;
}
.taka {
  border-radius: 5px;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(117, 120, 121);
  margin: 10px;
  background: rgb(250, 244, 244);
  float: left;
}
* {
  box-sizing: border-box;
}
.section-3 {
  content: "";
  clear: both;
  display: flex;
  text-align: center;
}
.taka-200 {
  border: 2px solid red;
  background: rgb(243, 217, 217);
  color: red;
}
.hr {
  margin-bottom: 35px;
  width: 50%;
}
.section-4 h3 {
  text-align: center;
  color: rgb(187, 187, 187);
}
.all-family {
  width: 40%;
  padding-left: 2%;
  padding-top: 3%;

  border-radius: 15px;
}
.container-3 {
  display: flex;
}
p {
  text-align: left;
}
#food-for-family {
  background: rgb(225, 246, 255);
  margin: 10px;
  margin-left: 120px;
}
#shelter-for-family {
  background: rgb(253, 228, 232);
  margin: 10px;
}
#edu-child {
  background: rgb(255, 255, 213);
  margin: 10px;
  margin-right: 120px;
}
footer h4 {
  color: orange;
  background: #000;
  text-align: center;
  padding: 40px 0;
}
footer p {
  text-align: center;
  color: white;
}
